@media (max-width: 992px){
  profile {
  display: block;
  width: 80px;
  height: auto;
  border-radius: 50%;
}
}

.profile {
  display: block;
  width: 120px;
  height: auto;
  border-radius: 50%;
}

.card2 {
  
  /* min-width: 350px; */
}