<app-h-content>

    <div class="row">

        <div class="col-sm-4">
            <a href="#">
                <div class="card-box widget-flat border-custom bg-custom text-white card2">
                    <i class=" icon-drawar"></i>
                    <h6 class="text-uppercase mt-0">โปรแกรม</h6>
                    <h2 class="m-b-20" data-plugin="counterup">จัดการทรัพย์สิน</h2>
                    <span class="">ระบบจัดการทรัพย์สิน</span>
                </div>
            </a>
        </div>

        <!-- end col -->
        <div class="col-sm-4">
            <a href="#">
                <div class="card-box widget-flat border-primary bg-primary text-white card2">
                    <i class=" icon-basket"></i>
                    <h6 class="text-uppercase mt-0">โปรแกรม</h6>
                    <h2 class="m-b-20">
                        <span data-plugin="counterup">สต๊อกสินค้า</span>
                    </h2>
                    <span>ระบบสต๊อกสินค้า</span>
                </div>
            </a>
        </div>
        <!-- end col -->

        <div class="col-sm-4">
            <a href="#">
                <div class="card-box widget-flat bg-info border-info text-white card2">
                    <i class=" icon-wrench"></i>
                    <h6 class="text-uppercase mt-0">โปรแกรม</h6>
                    <h2 class="m-b-20" data-plugin="counterup">บันทึกงานซ่อม</h2>
                    <span>ระบบบันทึกงานซ่อม</span>
                </div>
            </a>
        </div>
        <!-- end col -->
    </div>
    <div class="row">
    <div class="col-sm-4">
        <a href="#">
            <div class="card-box widget-flat bg-warning border-warning  text-white card2">
                <i class="icon-rocket"></i>
                <h6 class=" text-uppercase mt-0">โปรแกรม</h6>
                <h2 class="m-b-20" data-plugin="counterup">1,890</h2>
                <span>Last year</span>
            </div>
        </a>
    </div>
    <!-- end col -->

    <div class="col-sm-4">
        <a href="#">
            <div class="card-box widget-flat bg-purple border-purple text-white card2">
                <i class="icon-rocket"></i>
                <h6 class="text-uppercase mt-0">โปรแกรม</h6>
                <h2 class="m-b-20" data-plugin="counterup">1,890</h2>
                <span>Last year</span>
            </div>
        </a>
    </div>
    <!-- end col -->

    <div class="col-sm-4">
        <a href="#">
            <div class="card-box widget-flat bg-danger border-danger text-white card2">
                <i class=" icon-printer"></i>
                <h6 class="text-uppercase mt-0">รายงาน</h6>
                <h2 class="m-b-20" data-plugin="counterup">พิมพ์รายงาน</h2>
                <span>Last year</span>
            </div>
        </a>
    </div>
    <!-- end col -->

    </div>


        <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30 text-center" style="margin-bottom: -0px">ข้อมูลการใช้งานระบบ</h4>

            <ul class="nav nav-tabs text-center">

                <li class="nav-item">
                    <a href="#tab1" data-toggle="tab" aria-expanded="true" class="nav-link active">
                        <i class="fi-monitor"></i> ข้อมูลการเข้าระบบ
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tab2" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <i class="icon-drawar"></i> จัดการทรัพย์สิน
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tab3" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <i class="icon-basket"></i> สต๊อกสินค้า
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#tab4" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <i class="icon-wrench"></i> บันทึกงานซ่อม
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="tab1">
                    <div class="inbox-widget slimscroll" style="max-height: 450px;">
                        <a href="#">
                            <div class="inbox-item">
                                <div class="inbox-item-img">
                                    <img src="assets/images/users/avatar-1.jpg" class="rounded-circle bx-shadow-lg" alt="">
                                </div>
                                <p class="inbox-item-author">Chadengle</p>
                                <p class="inbox-item-text">Hey! there I'm available...</p>
                                <p class="inbox-item-date">13:40 PM</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="inbox-widget slimscroll" style="max-height: 450px;">
                        <a href="#">
                            <div class="inbox-item">
                                <div class="inbox-item-img">
                                    <img src="assets/images/users/avatar-1.jpg" class="rounded-circle bx-shadow-lg" alt="">
                                </div>
                                <p class="inbox-item-author">Chadengle</p>
                                <p class="inbox-item-text">Hey! there I'm available...</p>
                                <p class="inbox-item-date">13:40 PM</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <div class="inbox-widget slimscroll" style="max-height: 450px;">
                        <a href="#">
                            <div class="inbox-item">
                                <div class="inbox-item-img">
                                    <img src="assets/images/users/avatar-1.jpg" class="rounded-circle bx-shadow-lg" alt="">
                                </div>
                                <p class="inbox-item-author">Chadengle</p>
                                <p class="inbox-item-text">Hey! there I'm available...</p>
                                <p class="inbox-item-date">13:40 PM</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tab-pane" id="tab4">
                    <div class="inbox-widget slimscroll" style="max-height: 450px;">
                        <a href="#">
                            <div class="inbox-item">
                                <div class="inbox-item-img">
                                    <img src="assets/images/users/avatar-1.jpg" class="rounded-circle bx-shadow-lg" alt="">
                                </div>
                                <p class="inbox-item-author">Chadengle</p>
                                <p class="inbox-item-text">Hey! there I'm available...</p>
                                <p class="inbox-item-date">13:40 PM</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
 

</app-h-content>