<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-body">
            <h2 class="text-uppercase text-center m-b-30">
                เพิ่มผู้ใช้งานระบบ
            </h2>
            <!-- <form class="form-horizontal" action="#">

                <div class="form-group m-b-25">
                    <div class="col-12">
                        <label for="username">Name</label>
                        <input class="form-control" type="email" id="username" required="" placeholder="Michael Zenaty">
                    </div>
                </div>

                <div class="form-group m-b-25">
                    <div class="col-12">
                        <label for="emailaddress">Email address</label>
                        <input class="form-control" type="email" id="emailaddress" required="" placeholder="john@deo.com">
                    </div>
                </div>

                <div class="form-group m-b-25">
                    <div class="col-12">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" required="" id="password" placeholder="Enter your password">
                    </div>
                </div>

                <div class="form-group account-btn text-center m-t-10">
                    <div class="col-12">
                        <button class="btn w-lg btn-rounded btn-light waves-effect waves-light" data-dismiss="modal" aria-hidden="true">ยกเลิก</button>
                        <button class="btn w-lg btn-rounded btn-success waves-effect waves-light" type="submit">บันทึก</button>
                    </div>
                </div>
            </form> -->
        </div>
    </div>
    <!-- /.modal-content -->
</div>