<app-h-content>

    <div class="card-box">
        
        <div class="pull-right">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-light dropdown-toggle" aria-controls="dropdown-basic">
                            {{ serachType.value }}
                            <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li *ngFor="let item of searchTypeItems" role="menuitem">
                                <a class="dropdown-item" (click)="serachType = item">
                                    {{ item.value }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div [ngSwitch]="serachType.key">
                        <input *ngSwitchCase="'updated'" type="text" [(ngModel)]="searchText" class="form-control" placeholder="ค้นหาข้อมูล" bsDaterangepicker
                            placement="left">
                        <input *ngSwitchDefault type="text" [(ngModel)]="searchText" class="form-control" placeholder="ค้นหาข้อมูล">
                    </div>

                    <div class="input-group-append">
                        <button type="button" class="btn btn-success" (click)="onSearchItem()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th>อีเมล์</th>
                        <th>ชื่อ</th>
                        <th>ตำแหน่ง</th>
                        <th>สิทธิ์ผู้ใช้</th>
                        <th>วันที่</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items.items">
                        <td>{{item.email}}</td>
                        <td>{{item.fullname}}</td>
                        <td>{{item.position}}</td>
                        <td>{{getRoleName(item.role)}}</td>
                        <td>{{item.updated | date: 'dd-MM-yyyy'}}</td>
                        <td class="text-right">
                            <ng-template [ngIf]="UserLogin.role == Role.Admin">
                                <i (click)="onUpdateMember(item)" class="fa fa-edit cur"></i>
                                <span> | </span>
                            </ng-template>
                            <i (click)="onDeleteMember(item)" class="fa fa-trash cur"></i>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">
                            จำนวนสมาชิกทั้งหมด {{ items.totalItems }} คน
                        </th>
                    </tr>
                </tfoot>
            </table>
            <pagination [(ngModel)]="startPage" [itemsPerPage]="limitPage" (pageChanged)="onPageChanged($event)" [rotate]="false" [maxSize]="10"
                previousText="หน้าก่อนหน้า" nextText="หน้าถัดไป" [totalItems]="items.totalItems"></pagination>
        </div>
    </div>


</app-h-content>