<body class="account-pages">

    <!-- Begin page -->
    <!-- <div class="accountbg" style="background: url('assets/images/bg-2.jpg');background-size: cover;"></div> -->

    <div class="wrapper-page account-page-full">

        <div class="card">
            <div class="card-block">

                <div class="account-box">

                    <div class="card-box p-5">
                        <h2 class="text-uppercase text-center pb-4">
                            ลงทะเบียน
                        </h2>

                        <form class="form-horizontal" [formGroup]="form" (submit)="onSubmit()">
                                                      
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label>ชื่อ-นามสกุล</label>
                                    <input class="form-control" type="text" formControlName="fullname" placeholder="กรุณากรอกข้อมูล">
                                </div>
                            </div>

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label>อีเมล์</label>
                                    <input class="form-control" type="email" formControlName="email" placeholder="กรุณากรอกข้อมูล">
                                </div>
                            </div>

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label>รหัสผ่าน</label>
                                    <input class="form-control" type="password" formControlName="password" placeholder="กรุณากรอกข้อมูล">
                                </div>
                            </div>

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label>ยืนยันรหัสผ่าน</label>
                                    <input class="form-control" type="password" formControlName="cpassword" placeholder="กรุณากรอกข้อมูล">
                                </div>
                            </div>


                            <div class="form-group row m-b-20">
                                <div class="col-12">

                                    <div class="checkbox checkbox-custom">
                                        <input id="remember" type="checkbox">
                                        <label for="remember">
                                            I accept
                                            <a href="#" class="text-custom">Terms and Conditions</a>
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group row text-center m-t-10">
                                <div class="col-12">
                                    <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">ลงทะเบียน</button>
                                </div>
                            </div>

                        </form>

                        <div class="row m-t-50">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">มีบัญชีผู้ใช้แล้ว ?
                                    <a [routerLink]="['/',Url.Login]" class="text-dark m-l-5">
                                        <b>เข้าสู่ระบบ</b>
                                    </a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <p class="account-copyright">2018 © Highdmin. - Coderthemes.com</p>
        </div>

    </div>

</body>